$debug-border: none;
//$debug-border: solid;
$light-gray: #D8DDE6;

@mixin font-size($size) {
	font-size:$size !important;
	font-size: ($size / 16px) * 1rem !important;
}

// Service Account Tile Container
div.sa-tiles {
    display: flex;
    flex-flow: row wrap;   
}

// Service Account Tile
div.sa-tile {  
    background-color: #f6f6f6;
	border-radius: 5px;    
    margin: 10px;

	&:hover {
		box-shadow: 0rem 0rem 1rem rgba(0,0,0, 0.275);
			-webkit-box-shadow: 0rem 0rem 1rem rgba(0,0,0, 0.275);
			-moz-box-shadow: 0rem 0rem 1rem rgba(0,0,0, 0.275);
	}


    // Service Account Image
    div#image {
        // scale image to fit the div container
        img {
            min-width: 100%;
            max-width: 100%;
            border-radius: 5px 5px 0 0;
        }
    }

    // Service Account Name (& Icon)
    .slds-card__header {
		padding: 10px;

		.slds-icon-standard-account {
			background-color: #7f8de1 !important;
		}

		.slds-media__figure {
			margin-right: 10px;
		}

		.slds-card__header-title {
			color: #254B8F;
			@include font-size(14px);
			line-height: 14px;
		}
		p {
            color: #254B8F;
			@include font-size(11px);
		}
	}

    // Service Account Address
    div#address {
               padding: 10px;
               display: flex;
               justify-content: space-between;

        div#details {
            color: #254B8F;
            @include font-size(11px);
        }
        div#selection-icon {
            align-self: center;
            justify-self: center;

            span {
                background-color: limegreen;
            }
        }
    }
}