<div class="nds-col slds-col sa-tiles" ng-controller="serviceAccountController">

    <!-- Service Account Tile -->
    <div class="sa-tile" ng-repeat="account in control.vlcSI[control.itemsKey]" ng-click="onSelectItem(control, account, $index, this, true)">

        <!-- Account Image -->
        <div id="image" ng-if="account.serviceAccountImage">
            <img class="img" src="{{account.serviceAccountImage}}"/>
        </div>
        <div id="image" ng-if="!account.serviceAccountImage"><p>--Image--</p></div>

 		<!-- Service Account Details -->
		<div class="slds-card__header slds-grid">
			<header class="slds-media slds-media_center slds-has-flexi-truncate">
				<div class="slds-media__figure">
					<span class="slds-icon_container slds-icon-standard-account" title="account">
						<img class="slds-icon slds-icon_medium" aria-hidden="true" src="/img/icon/t4v35/standard/account_120.png">
					</span>
				</div>
				<div class="slds-media__body">
					<h2 class="slds-card__header-title">
						<a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="{{p.serviceAccountName}}">
							<span>{{account.serviceAccountName}}</span>
						</a>
					</h2>
					<p>{{account.serviceAccountCity}}, {{account.serviceAccountState}}</p>
				</div>
			</header>
		</div>

        <!-- Account Address -->
        <div id="address">

            <div id="details">                
                <p>{{account.serviceAccountStreet}}<br>{{account.serviceAccountCity}}, {{account.serviceAccountState}}<br>{{account.serviceAccountCountry}}&nbsp;&nbsp;&nbsp;{{account.serviceAccountPostalCode}}<br>{{account.serviceAccountPhone}}</p>
            </div>
            <div id="selection-icon">
                <span class="slds-icon_container slds-icon_container--circle slds-icon-action-following" ng-show="account.vlcSelected">
                    <img class="slds-icon slds-icon_medium" aria-hidden="true" src="/img/icon/t4v35/action/approval_120.png">
                </span>
            </div>
        </div>

    </div>
</div>