.strong {
    font-weight: 700;
}

.icon-color {
    fill: #006dcc !important;
}

.slds-media__figure {
    margin-right: .25rem !important;
}

.product-card {
    background-color: #f4f6f9;
}
.children-expanded {
    //background-color: #d8edff;
}
.children {
    //background-color: #ecebea
}

.indented-row { margin-left: 3rem; }